{% extends "base.html" %}
{% block title %}Register for the Exchange Gift{% endblock %}
{% block container_content %}
    <form class="form form-horizontal" method="POST" action="{{ url_for('.do_register') }}">
        {{ form.csrf_token }}
        {% if form.errors['generic'] %}
            <div>
                <span class="label label-important">{{ form.errors['generic'] }}</span>
            </div>
        {% endif %}
        {{ wtf.form_errors(form, False) }}

        {{ wtf.horizontal_field(form.codename) }}

        <div class="form-actions">
           <button name="action_save" type="submit" class="btn btn-primary">Sign Up</button>
        </div>
    </form>
{% endblock %}
